/* ====== break poins=====
1/ (max-width: 576px) 
2/ (max-width: 768px) (min-width: 576px) 
3/ (max-width: 992px)
 */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  /* nav bar */
  .navbar-brand img {
    width: 10rem;
  }
  header .container .main-btn {
    font-size: 1.1rem;
    width: 8rem;
  }
  /* hero section */
  #hero .top-img {
    padding-bottom: 0.8rem;
  }

  #hero .top-disc p {
    font-size: 4vmin;
  }
  .social-icon a {
    font-size: 1.7rem;
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  #hero .main-btn {
    font-size: 1.1rem;
  }

  /* about section */
  .accordion-body .card img {
    display: none;
  }
  .accordion-body .short-disc {
    width: 17rem;
    border-radius: 5px;
    position: unset;
    top: 3rem;
    margin: 0 auto;
    padding: 1rem 0rem;
    z-index: 1;
  }
  .accordion-body .short-disc ul h5 {
    margin: 0;
    color: var(--text-gray);
    font-size: 3.7vmin;
  }
  .accordion-body .detail-disc h3 {
    font-size: 5.5vmin;
    margin-top: 1rem;
  }
  .about .accordion-header .about-title {
    padding: 0.4rem 0.345rem;
    width: 11rem;
    font-size: 20px ;
    border-radius: 8px;
    color: var(--text-white);
  }
  /* service section */
  .services .accordion-header .skill-title {
    padding: 0.4rem 0.345rem;
    width: 11rem;
    font-size: 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--text-white);
  }
    /* skill description */
  .services .glassmorphism .skills-desc{
    width: 100%;
  }
  /* progress bar */
  .services .glassmorphism .progress-bar .skills {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.16);
    margin-top: 1rem;
  }
  /* portfoli section */

  .portfolio .accordion-header .portfolio-title {
    padding: 0.4rem 0.345rem;
    width: 11rem;
    font-size: 20px;
    background-color: var(--third-color);
    border-radius: 8px;
    color: var(--text-white);
  }
  /* contact section */
  .contact button .contact-title {
    padding: 0.4rem 0.345rem;
    width: 11rem;
    font-size: 20px;
    border-radius: 8px;
    color: var(--text-white);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) and (min-width: 576px) {
  /* hero section */
  #hero .top-img {
    padding-bottom: 0.8rem;
  }

  #hero .top-disc h2 {
    font-size: 2.6rem;
  }
  #hero .top-disc p {
    font-size: 1.3rem;
  }
  .social-icon a {
    font-size: 1.9rem;
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  /* about section */
  .accordion-body .card {
    background: transparent;
  }
  .accordion-body .card img {
    width: 90%;
  }
  .accordion-body .short-disc {
    width: 17rem;
    height: 20rem;
    border-radius: 1rem;
    transform: translateX(-12%);
    padding-top: 2rem;
    z-index: 1;
  }
  .accordion-body .short-disc ul h5 {
    margin: 0;
    color: var(--text-gray);
    font-size: 2.4vmin;
  }
  .accordion-body .detail-disc h3 {
    font-size: 4vmin;
    margin-top: 1rem;
  }
  .about .accordion-header .about-title {
    padding: 1rem 0.345rem;
    width: 10rem;
    border-radius: 8px;
    color: var(--text-white);
  }
  /* skill description */
  .services .glassmorphism .skills-desc{
    width: 100%;
    margin-bottom: .5rem;
  }

  /* portfolio section */

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) and (min-width: 769px) {
  /* HERO SECTION */
  #hero .top-disc h2 {
    font-size: 2.2rem;
  }
  .social-icon a {
    font-size: 1.9rem;
    margin-left: 0.5rem;
    margin-bottom: 0.8rem;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  /* about section */
  .accordion-body .card {
    background: transparent;
  }
  .accordion-body .card img {
    width: 90%;
  }
  .accordion-body .short-disc {
    width: 17rem;
    height: 20rem;
    border-radius: 1rem;
    position: absolute;
    top: 6rem;
    transform: translateX(-50%);
    padding-top: 2rem;
    z-index: 1;
  }
  .accordion-body .short-disc ul h5 {
    margin: 0;
    color: var(--text-gray);
    font-size: 2vmin;
  }
  .accordion-body .detail-disc h3 {
    font-size: 4vmin;
    margin-top: 1rem;
  }
   /* skill description */
   .services .glassmorphism .skills-desc{
    width: 100%;
    margin-bottom: .5rem;
  }
  /* portfolio section */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* 



*/
